<title>Únete</title>
{% extends 'layout.html' %}
{% load static %}
{% block body %}



{% if user.is_authenticated %}
<h1 class="p-2 text-center mb-5 text-warning">¡Ya has iniciado sesión!</h1>

{% else %}


<div class="bg-white fPersian">
<div class="shadow p-4 mb-5 bg-body bg-body rounded text-black  m-5">
    <h1 class="text-black p-3 ">Únete</h1>
<form method="POST" action="{% url 'register' %}">
    {% csrf_token %}

       {{ form.as_p }}

        <br/>
        <button type="submit" class="btn btn-primary">Enviar</button>
        </br>
        <label class="form-label fs-3 mt-5">¿Ya tienes una cuenta?</label>
        </br>
        <a href="{% url 'login' %}" class="btn btn-primary">Inicia sesión</a>
</form>
</div>
<br/><br/><br/>
</div>
{% endif %}
{% endblock %}